
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    @media only screen and (max-width: 768px) {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
    }
}

.espace{
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;

    @media only screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      width: 100%;
    }
}


button{
    padding: 0.8% 2%;
    Width: 200px;
    height: 56px;
    Top: 606px;
    Left : 758px;
    border-radius : 16px;
    background-color: #8538A6;
    color: white;
    border: 0px solid;
    box-shadow: 0px -4px 0px 0px #0F0B2C80 inset;

    font-family: Barlow;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    cursor: pointer;

    transition: 0.2s ease-in;
}


button:hover{
    box-shadow: none;
    margin-top: 4px;
    background-color:#330066;
    transition: 0.2s ease-in;
}